<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css"/> 
    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>hatori-sushi</title>
</head>
<body>

    <div class="container2">
        <a href="/hatori-sushi">
        <img src="/images/sushi.jpg" class="img1" alt="imagen" /></a>
    </div>
    <div class="container1">       
        <section class="precio-dto">
            <p class="descripcion">Hatori sushi</p>
            <h4 class="precio">$3.770</h4>
            <p class="descuento">10% OFF</p>
            <p class="cuotas">3 coutas sin interés</p>
            <a href="#" class="add-to-a-cart">
            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
            </a>
        </section>
    </div>



    
</body>
</html>