<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/header.css"/>

    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="js/index.js"></script>

    <title>StoneBlack</title>
</head>

<body>
    <header>

        <marquee scrollamount="10" class="marquesina">
            <div>
                <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
            </div>
        </marquee>

        <section class="cabecera">
            <a href="/">
            <img class="logo" src="/images/StoneBlack.png" alt="logo"/></a>
                
            <div class="lupa">
                <a href="#"><i class="fas fa-search"></i></a></div>
            
            <div class="carrito-compras">
                <a href="/product-cart">
                <i class="fa-solid fa-cart-shopping carrito"></i></a>
            </div>
        
            <div class="burger-menu">
                <button class="abrir-menu" aria-label="Abrir menú">
                <i class="fa fa-bars burger"></i></button>
            </div>
        </section>
        <section class="barra-menu">
            <ul class="menu">
                <li class="menu-item"><a href="#" class="boton-inicio">Inicio de sesion</a></li>
                <li class="menu-item"><a href="/login" class="registrarse">Registrarse</a></li>
                <li class="menu-item"><a href="#" class="devolver">Devolver</a></li>
            </ul>
        </section>


        <div class="banner">
            <img src="/images/banner.jpg"  class="img-ban" alt="banner" />
        </div>
    </header>

    <main>
        
        <section class="division">
            <h2>Remeras con diseños originales</h2>
        </section>

        <section class="seccion1">

            <section class="container1">
                <div class="container2">
                    <a href="/productDetail">
                    <img src="/images/sushi.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">       
                    <section class="precio-dto">
                        <p class="descripcion">Hatori sushi</p>
                        <h4 class="precio">$3.770</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 coutas sin interés</p>
                        <a href="/product-cart" class="add-to-a-cart">
                        <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                        </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/ac_dc.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">   
                    <section class="precio-dto">
                        <p class="descripcion">AC DC rojo-amarillo</p>
                        <h4 class="precio">$2.000</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/bart+lisa.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Burt y Lisa</p>
                        <h4 class="precio">$2.500</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/infierno.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">     
                    <section class="precio-dto">
                        <p class="descripcion">Hell</p>
                        <h4 class="precio">$3.200</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>
        </section>
        
        
        <section class="seccion2">
            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/oasis.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Oasis</p>
                        <h4 class="precio">$3.770</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/mini-yoda.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">Yoda bebe</p>
                        <h4 class="precio">$2.000</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                    <img src="/images/rollings-2.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">The Rollings Stones</p>
                        <h4 class="precio">$2.500</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                    <img src="/images/ramones.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Ramones</p>
                        <h4 class="precio">$3.200</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>
        </section>
           

        <details>
            <summary ><div class="mostrar-mas">
                <p>Mostrar/ocultar mas</p>
            </div></summary>
           

            <section class="seccion2">
            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/i-am-the-bomb.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">I Am the bomb</p>
                        <h4 class="precio">$3.770</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                        <img src="/images/ramones2.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">The Ramones</p>
                        <h4 class="precio">$2.000</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                    <img src="/images/motorhead.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">Motorhead</p>
                        <h4 class="precio">$2.500</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <a href="#">
                    <img src="/images/relax.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Relax blanca</p>
                        <h4 class="precio">$3.200</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                        <a href="#" class="add-to-a-cart">
                            <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                            </a>
                    </section>
                </div>
            </section>

            </section>

            <section class="seccion2">
                <section class="container1">
                    <div class="container2">
                        <a href="#">
                            <img src="/images/wi-fi.jpg" class="img1" alt="imagen" /></a>
                    </div>
                    <div class="container3">
                        <section class="precio-dto">
                            <p class="descripcion">Wi Fi blanca</p>
                            <h4 class="precio">$3.770</h4>
                            <p class="descuento">10% OFF</p>
                            <p class="cuotas">Sin cuotas</p>
                            <a href="#" class="add-to-a-cart">
                                <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                                </a>
                        </section>
                    </div>
                </section>
    
                <section class="container1">
                    <div class="container2">
                        <a href="#">
                            <img src="/images/homero.jpg" class="img1" alt="imagen" /></a>
                    </div>
                    <div class="container3">         
                        <section class="precio-dto">
                            <p class="descripcion">Homero azul</p>
                            <h4 class="precio">$2.000</h4>
                            <p class="descuento">5% OFF</p>
                            <p class="cuotas">3 cuotas sin interes</p>
                            <a href="#" class="add-to-a-cart">
                                <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                                </a>
                        </section>
                    </div>
                </section>
    
                <section class="container1">
                    <div class="container2">
                        <a href="#">
                        <img src="/images/calabera.jpg" class="img1" alt="imagen" /></a>
                    </div>
                    <div class="container3">         
                        <section class="precio-dto">
                            <p class="descripcion">Calabera negra</p>
                            <h4 class="precio">$2.500</h4>
                            <p class="descuento">10% OFF</p>
                            <p class="cuotas">Sin cuotas</p>
                            <a href="#" class="add-to-a-cart">
                                <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                                </a>
                        </section>
                    </div>
                </section>
    
                <section class="container1">
                    <div class="container2">
                        <a href="#">
                        <img src="/images/bowie.jpg" class="img1" alt="imagen" /></a>
                    </div>
                    <div class="container3">
                        <section class="precio-dto">
                            <p class="descripcion">David Bowie blanca</p>
                            <h4 class="precio">$3.200</h4>
                            <p class="descuento">5% OFF</p>
                            <p class="cuotas">3 cuotas sin interes</p>
                            <a href="#" class="add-to-a-cart">
                                <div class="circulo"><i class="fa-solid fa-cart-plus comprar"></i></div>
                                </a>
                        </section>
                    </div>
                </section>
    
                </section>

        </details>
    </main>
    
    <footer class="pie-pagina">
        <section class="footer">
            <section class="sector-footer">
                <i class="fa-regular fa-credit-card icono-footer"></i>
                <h2 class="titulo-footer">Pagá con las tarjetas</h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/american-express.png"></i>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/visa.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mastercard.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/cabal.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/diners-club.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/naranja.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/maestro.png">
            </section>
            <section class="sector-footer">
            
                <h2 class="titulo-footer">Seguridad, de principio a fin pagando con: </h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/pagofacil.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mercadopago.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/rapipago.png">
            </section>
            <section class="sector-footer">
                <i class="fa-solid fa-truck-arrow-right icono-footer"></i>
                <h2 class="titulo-footer">Envío gratis desde $ 12.500</h2>
            </section>
            <section class="sector-footer">  
                <p class="texto-footer">
                Si estas registrad@, pulsá la opción devolver, en el menú superior, ante cualquier
                detalle de la prenda.
                </p>
            </section>
        </section>

        

        <div>
            <h6>Powered by: DH_grupo3</h6>
        </div>
        
    </footer>
</body>

</html>