<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css"/> 

    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>

    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>blackStone</title>
</head>

<body>
    <header>

        <marquee scrollamount="10" class="marquesina">
            <div>
                <p class="texto-marquesina">Semana de ofertas increibles!!!</p>
            </div>
        </marquee>


        <section class="cabecera">

            <img class="logo" src="/images/StoneBlack.png" alt="logo"/>
           
                
            <div class="lupa"><i class="fas fa-search"></i></div>
            

            <div class="carrito-compras">
                <a href="/views/productcart.html">
                <i class="fa-solid fa-cart-plus carrito"></i></a>
            </div>
        
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </section>


        <div>
            <img src="/images/banner.jpeg" class="banner" alt="banner" />
        </div>
    </header>

    <main>
        
           

        <section class="seccion1">
            <section class="container1">
                <div class="container2">
                    <a href="/views/sushi.html">
                    <img src="/images/sushi.jpg" class="img1" alt="imagen" /></a>
                </div>
                <div class="container3">       
                    <section class="precio-dto">
                        <p class="descripcion">Hatori sushi</p>
                        <h4 class="precio">$3.770</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 coutas sin interés</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/ac_dc.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">   
                    <section class="precio-dto">
                        <p class="descripcion">AC DC rojo-amarillo</p>
                        <h4 class="precio">$2.000</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/bart+lisa.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Burt y Lisa</p>
                        <h4 class="precio">$2.500</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/infierno.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">     
                    <section class="precio-dto">
                        <p class="descripcion">Hell</p>
                        <h4 class="precio">$3.200</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                    </section>
                </div>
            </section>
        </section>
        
        
        <section class="seccion2">
            <section class="container1">
                <div class="container2">
                    <img src="/images/oasis.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Oasis</p>
                        <h4 class="precio">$3.770</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/mini-yoda.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">Yoda bebe</p>
                        <h4 class="precio">$2.000</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/rollings-2.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">         
                    <section class="precio-dto">
                        <p class="descripcion">The Rollings Stones</p>
                        <h4 class="precio">$2.500</h4>
                        <p class="descuento">10% OFF</p>
                        <p class="cuotas">Sin cuotas</p>
                    </section>
                </div>
            </section>

            <section class="container1">
                <div class="container2">
                    <img src="/images/ramones.jpg" class="img1" alt="imagen" />
                </div>
                <div class="container3">
                    <section class="precio-dto">
                        <p class="descripcion">Ramones</p>
                        <h4 class="precio">$3.200</h4>
                        <p class="descuento">5% OFF</p>
                        <p class="cuotas">3 cuotas sin interes</p>
                    </section>
                </div>
            </section>
        </section>
    </main>
    
    <footer class="pie-pagina">
        <section class="sector-footer">
            <i class="fas fa-credit-card icono-footer"></i>
            <h2 class="titulo-footer">Pagá con tarjeta o efectivo</h2>
            <p class="texto-footer">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section class="sector-footer">
            <i class="fas fa-gift icono-footer"></i>
            <h2 class="titulo-footer">Envío gratis desde $ 2.500</h2>
            <p class="texto-footer">
                Solo por estar registrad@ en Mercado Liebre tenés 
                envíos gratis en
                miles de productos.
                Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="sector-footer">
            <i class="fas fa-user-shield icono-footer"></i>
            <h2 class="titulo-footer">Seguridad, de principio a fin</h2>
            <p class="texto-footer">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </section>
        <br />
        

        <div>
            <h6>Powered by: DH_grupo3</h6>
        </div>
    </footer>
</body>

</html>