<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css" />

    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/login.css" />
    <title>login</title>

<body>

    <p class="sesion">Inciar Sesión</p>
    <form action="" method="">
    <div class="Container2">
        <div class=" control-login">
            <label for="email">Email</label>
            <input type="email" name="email" class="control" required>
        </div>
        <div class="control-login">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="control" required>
        </div>
        <div class="control-login">
            <button type="submit" class="envio">Enviar</button>
        </div>
    </div>
    </form>

    <div class="contraseña">
    <p href="" class="olvido">Has olvidado tu contraseña?</p>    
    </div>


</body>