<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css" />

    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/login.css" />
    <title>login</title>

<body>

    <header>

        <marquee scrollamount="10" class="marquesina">
            <div>
                <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
            </div>
        </marquee>

        <section class="cabecera">
            <a href="/">
                <img class="logo" src="/images/StoneBlack.png" alt="logo" /></a>

            <div class="lupa">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>

            <div class="carrito-compras">
                <a href="/product-cart">
                    <i class="fa-solid fa-cart-shopping carrito"></i></a>
            </div>

            <div class="burger-menu">
                <button class="abrir-menu" aria-label="Abrir menú">
                    <i class="fa fa-bars burger"></i></button>
            </div>
        </section>
        <section class="barra-menu">
            <ul class="menu">
                <li class="menu-item"><a href="#" class="boton-inicio">Inicio de sesion</a></li>
                <li class="menu-item"><a href="#" class="registrarse">Registrarse</a></li>
                <li class="menu-item"><a href="#" class="devolver">Devolver</a></li>
            </ul>
        </section>

    </header>

    <main>
        <section class="inicio-sesion">
        <form action="" method="">
                <div class=" control-login">
                    <input type="email" name="email" class="control" placeholder="E-mail"   required>
                </div>
                <div class="control-login">
                    <input type="password" name="password" class="control" placeholder="Contraseña" required>
                </div>
                <div class="control-login">
                    <button type="submit" class="envio">Enviar</button>
                </div>
        </form>
        </section>

        <div class="contraseña">
            <p href="" class="olvido">Has olvidado tu contraseña?</p> <a href=""></a>
        </div>

    </main>
</body>

</html>