<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css" />
    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/productDetail.css" />
    <title>Detalle de Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <marquee scrollamount="10" class="marquesina">
            <div>
                <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
            </div>
        </marquee>

        <section class="cabecera">
            <a href="/">
                <img class="logo" src="/images/StoneBlack.png" alt="logo" /></a>

            <div class="lupa">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>

            <div class="carrito-compras">
                <a href="/product-cart">
                    <i class="fa-solid fa-cart-shopping carrito"></i></a>
            </div>

            <div class="burger-menu">
                <button class="abrir-menu" aria-label="Abrir menú">
                    <i class="fa fa-bars burger"></i></button>
            </div>
        </section>
        <div class="banner">
            <img src="/images/banner.jpeg" class="img-ban" alt="banner" />
        </div>
    </header>

    <!-- MAIN -->
    <main>
                      <!-- IMAGEN ARTICULO A DETALLAR: EN UN FUTURO VA A SER UN CARRUSEL -->
        <div class="imagen-articulo">
            <img src="/images/ac_dc.jpg" alt="FOTO DE PRUEBA">
        </div>
        
        <!-- DETALLES DEL PRODUCTO DEBAJO DE LA IMAGEN -->
        <div class="caja-detalles">
        <div class="titulo-articulo">
            <h2>Titulo articulo</h2>
        </div>
        <div class="precio-articulo">
            <h3>$45.000</h3>
        </div>
        </div>
        
    </main>
</body>

</html>