<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css" />
    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/productDetail.css" />
    <title>Detalle de Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <marquee scrollamount="10" class="marquesina">
            <div>
                <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
            </div>
        </marquee>

        <section class="cabecera">
            <a href="/">
                <img class="logo" src="/images/StoneBlack.png" alt="logo" /></a>
            
                <nav class="barra-menu">
                    <ul class="menu-inicioSesion">
                        <li class="menu-item"><a href="#" class="boton-inicio">Inicio de sesion</a></li>
                        <li class="menu-item"><a href="#" class="registrarse">Registrarse</a></li>
                        
                    </ul>
                </nav>            

            <div class="lupa">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>

            <div class="carrito-compras">
                <a href="/product-cart">
                    <i class="fa-solid fa-cart-shopping carrito"></i></a>
            </div>

            <div class="burger-menu">
                <button class="abrir-menu" aria-label="Abrir menú">
                    <i class="fa fa-bars burger"></i></button>
            </div>
        </section>
        <div class="banner">
            <img src="/images/banner.jpeg" class="img-ban" alt="banner" />
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <!-- IMAGEN ARTICULO A DETALLAR: EN UN FUTURO VA A SER UN CARRUSEL -->
        <div class="imagen-articulo">
            <img src="/images/ac_dc.jpg" alt="FOTO DE PRUEBA">
        
        <nav class="menu">
            <h4>MENU</h4>
            <ul>
                <li><a href="">NUEVO LANZAMIENTO</a></li>
                <li><a href="">REMERAS</a></li>
                <li><a href="">CAMPERAS</a></li>
                <li><a href="">PANTALONES</a></li>
            </ul>
        </nav>
    </div>
        <!-- DETALLES DEL PRODUCTO DEBAJO DE LA IMAGEN -->
        <div class="caja-detalles">
            <div class="titulo-articulo">
                <h2>Titulo articulo</h2>
            </div>
            <div class="precio-articulo">
                <h3>$45.000</h3>
            </div>
        </div>

        <!-- TALLES -->
        <div class="talle">
            <h4>Talle:</h4>
            <label><input type="checkbox" id="cbox1" value="first_checkbox">S</label>
            <label><input type="checkbox" id="cbox2" value="second_checkbox">M</label>
            <label for="cbox3"><input type="checkbox" id="cbox3" value="third_checkbox">L</label>
            <label for="cbox4"><input type="checkbox" id="cbox4" value="four_checkbox">XL</label>
        </div>

        <!-- DESCRIPCION DEL PRODUCTO -->
        <div class="descripcion-articulo">
            <h4>DESCRIPCION DEL PRODUCTO:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum dolorum adipisci sed qui minus
                molestiae similique voluptatum!</p>
            <ul>
                <li class="primer-descripcion">Descripcion 1</li>
                <li>Descripcion 2</li>
                <li>Descripcion 3</li>
                <li>Descripcion 4</li>
            </ul>
        </div>

        <!-- BOTON AGREGAR A CARRITO -->
        <div>
            <a href="/product-cart">
                <input type="submit" class="boton-comprar" value="Agregar al carrito">
            </a>
        </div>

        <!-- PRODUCTOS RELACIONADOS: FUTURO CARRUSEL -->
        <div>
            <h5 class="titulo-productosRelacionados">PRODUCTOS RELACIONADOS:</h5>
            <div class="productos-relacionados">
                <article>
                    <a href="/product-cart">
                    <img src="/images/acdc_roja.jpg" alt="">
                </a>
                </article>
                <article>
                    <a href="/product-cart">
                    <img src="/images/baller.jpg" alt="">
                </a>
                </article>
            </div>
        </div>

    </main>


    <!-- FOOTER -->
    <footer class="pie-pagina">
        <section class="footer">
            <section class="sector-footer">
                <i class="fa-regular fa-credit-card icono-footer"></i>
                <h2 class="titulo-footer">Pagá con las tarjetas</h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/american-express.png"></i>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/visa.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mastercard.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/cabal.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/diners-club.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/naranja.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/maestro.png">
            </section>
            <section class="sector-footer">

                <h2 class="titulo-footer">Seguridad, de principio a fin pagando con: </h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/pagofacil.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mercadopago.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/rapipago.png">
            </section>
            <section class="sector-footer">
                <i class="fa-solid fa-truck-arrow-right icono-footer"></i>
                <h2 class="titulo-footer">Envío gratis desde $ 12.500</h2>
            </section>
            <section class="sector-footer">
                <p class="texto-footer">
                    Si estas registrad@, pulsá la opción devolver, en el menú superior, ante cualquier
                    detalle de la prenda.
                </p>
            </section>
        </section>



        <div>
            <h6>Powered by: DH_grupo3</h6>
        </div>

    </footer>
</body>

</html>