<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/normalize.css" />

    <script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/product-cart.css" />
    <title>product-cart</title>
</head>

<body>
    <div class="contenedor1">

        <p class="carrito">Carrito de Compras</p>

        <div class="contenedor2">
            <div class="imagen">
                <img src="\images\ac_dc.jpg" class="imagen2" alt="foto">
            </div>
            <div class="descripcion">
                <p class="articulo">Remera Hombre logo AC DC</p>
                <p class="talle">Talle: M</p>
                <p class="cantidad">Cantidad: 4</p>
            </div>
            <div class="info-precio">
                <p class="precioIndividual">$2.625,00</p>
            </div>
        </div>

        <div class="info-costo">
            <p class="Subtotal">Subtotal</p>
            <p class="precio">$ 10.500,00</p>
        </div>

        <div class="off">
            <p class="Descuento">Descuento</p>
            <p class="porcentaje">30%</p>
        </div>

        <div class="info-total">
            <p class="total">Total</p>
            <p class="monto">$7.350,00</p>
        </div>

        <form class="compra">
            <button type="submit" class="boton">Comprar</button>
        </form>

    </div>

</body>

</html>



<!-- <body>
    <a href="http://localhost:3030">
        <img class="logo" src="/images/StoneBlack.png" alt="logo"/>pulsa aca</a>
</body>
</html> -->