<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="stylesheet" href="css/normalize.css"/> 

<script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="css/header-footer.css" />
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/register.css" />
<link rel="stylesheet" href="css/footer.css"/>
<link rel="stylesheet" href="css/header.css"/>
<title>Register</title>
</head>

<body>
    
    <header>
    <marquee scrollamount="10" class="marquesina">
        <div>
            <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
        </div>
    </marquee>

    <section class="cabecera">
        <a href="/">
        <img class="logo" src="/images/StoneBlack.png" alt="logo"/></a>
            
        <div class="lupa">
            <a href="#"><i class="fas fa-search"></i></a></div>
        
        <div class="carrito-compras">
            <a href="/product-cart">
            <i class="fa-solid fa-cart-shopping carrito"></i></a>
        </div>
    
        <div class="burger-menu">
            <button class="abrir-menu" aria-label="Abrir menú">
            <i class="fa fa-bars burger"></i></button>
        </div>
    </section>
    <section class="barra-menu">
        <ul class="menu">
            <li class="menu-item"><a href="/login" class="boton-inicio">Inicio de sesion</a></li>
            <li class="menu-item"><a href="/register" class="registrarse">Registrarse</a></li>
            <li class="menu-item"><a href="#" class="devolver">Devolver</a></li>
        </ul>
    </section>


    <div class="banner">
        <img src="/images/banner.jpg"  class="img-ban" alt="banner" />
    </div>
</header>

    
<main>
    <section class="registro">
        <form action="/registro" method="POST" class="formulario">
            <div class="nombre">
                
                <input type="text" name="nombre" id="nombre" placeholder="nombre y apellido" required minlength="12">
            </div>
            <div class="nombre-usuario">
                <input outline="none"  type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuario" required minlength="12">
            </div>
             
            <label >Fecha de nacimiento</label>
            <input  class="nombre" type="date" name="fechaNacimiento" id="fechaNacimiento" required>

            
        
           
            <div class="foto">
                <label for="foto"><h2>Foto de perfil</h2></label>
                <input type="file" name="foto" id="foto" required>
            </div>

            <div class="nombre">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="nombre">
            <input type="password" name="confirmarpassword" id="confirmarpassword" placeholder="Confirmar contraseña">
            </div>

            <div class="reg-reset">
            <button class="reset" type="reset">Cancelar</button>
            <button class="register" type="submit">Enviar</button>
            </div>

        </form>

    </section>
    </main>
    <footer class="pie-pagina">
        <section class="footer">
            <section class="sector-footer">
                <i class="fa-regular fa-credit-card icono-footer"></i>
                <h2 class="titulo-footer">Pagá con las tarjetas</h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/american-express.png"></i>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/visa.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mastercard.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/cabal.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/diners-club.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/naranja.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/maestro.png">
            </section>
            <section class="sector-footer">
            
                <h2 class="titulo-footer">Seguridad, de principio a fin pagando con: </h2>
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/pagofacil.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mercadopago.png">
                <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/rapipago.png">
            </section>
            <section class="sector-footer">
                <i class="fa-solid fa-truck-arrow-right icono-footer"></i>
                <h2 class="titulo-footer">Envío gratis desde $ 12.500</h2>
            </section>
            <section class="sector-footer">  
                <p class="texto-footer">
                Si estas registrad@, pulsá la opción devolver, en el menú superior, ante cualquier
                detalle de la prenda.
                </p>
            </section>
        </section>

        

        <div>
            <h6>Powered by: DH_grupo3</h6>
        </div>
        
    </footer>
    
</body>

</html>

