
/* ------------  solo header ------------------ */

.marquesina {
  height: 40px;
  background-color: var(--independence);
  color: white;
  padding-top:12px ;
}
.texto-marquesina {
  font-size: 16px;
}
.cabecera {
  display: flex;
  align-items: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px ;
  text-decoration: none;
}
.logo {
  width: 100px;
  height: 30px;
}
.logo:hover {
  -webkit-transform: scale(1.5);
}
.lupa {
  color:black;
  font-size: 20px;
  margin-left:auto;
}
.carrito {
  color:black;
  margin-left: 25px;
  font-size: 20px;
}
.carrito:hover, .lupa:hover {
  -webkit-transform: scale(1.3);
  color: green;
}
.burger-menu {
  text-align: center;
  margin-left: 20px;
  color: white;
}
.burger {
  background-color: var(--gris);
  border-radius: 10%;
  padding: 10px; 
}
.barra-menu{
  padding: 30px;
}
.menu{
  display: none;
}
.menu_visible{
  display: flex;
  flex-direction: column;
  align-items: center;
 

}
.boton-inicio, .registrarse, .devolver{
  color: var(--silver-chalice);
  border-radius: 3px;
  font-size: 24px;
}
.boton-inicio:hover, .registrarse:hover, .devolver:hover{
color: white;
background-color: var(--independence);
}
.img-ban {
  width: 100%;
  height: auto;
  
}
@media (min-width:361px){
    .cabecera {
        padding-left: 60px;
        padding-right: 60px;
      }
      .logo {
        width: 120px;
        height: 40px;
      }
      .burger-menu{
        display: none;
      }
      .carrito, .lupa {
        font-size: 30px;
      }
      .barra-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      .banner {
        display: block;
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .navbar ul {
        list-style: none;
        display: flex;
      }
      .navbar li{
        margin: 0 8px;
      }
      .navbar a{
        color: #111;
        font-size: 14px;
      }

    }
    /*   notebook   */
@media (min-width:769px){
    .navbar ul {
        display: flex;
      }
      .logo {
        width: 150px;
        height: 45px;
      }
      .carrito, .lupa {
        font-size: 40px;
      }
      .burger-menu{
        display: none;
      }

    }