
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --gris: #686963;
    --morning-blue: #8aa29e;
    --black-coral: #3d5467;
    --silver-chalice: #a9aca9;
    --granite-gray: #6c6061;
    --independence: #525b76;
}


body {
    background-color: antiquewhite;


}


.control-login {
    margin-bottom: 15px;
    text-align: center;
}


.control-login label{

    margin-bottom: 5px;
    font-style: italic;
    display: block;
}


.sesion {

    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border:solid black 2px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 40px;
    background-attachment: white;
}

.control {
width: 90%;
padding: 10px;
border-radius: 10px;


}

.contraseña {

    
}

.olvido {

padding-top:20px;
text-align: end;
margin-right: 10px;
}

.envio{

    height: 30px;
    width: 100px;
    font-size: 26cpx;
    border: solid black 1px;
    border-radius: 20px;
    color: black;
    background-color: white; 
}