*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
  --gris: #686963;
  --morning-blue: #8aa29e;
  --black-coral: #3d5467;
  --silver-chalice: #a9aca9; 
  --granite-gray:#6c6061;
  --independence: #525b76;  
}

body {
    font-family: "Roboto", sans-serif;
  }
  

/* HEADER */

  .marquesina {
    height: 33px;
    background-color: var(--independence);
    color: white;
    padding-top:12px ;
  }

  .texto-marquesina {
    font-size: 16px;
  }

  .cabecera {
    display: flex;
    align-items: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px ;
    text-decoration: none;
  }

  .logo {
    width: 125px;
    height: 45px;
  }

  .logo:hover {
    -webkit-transform: scale(1.5);
  }

  .lupa {
    color:black;
    font-size: 20px;
    margin-left:auto;
  }

  .carrito {
    color:black;
    margin-left: 25px;
    font-size: 20px;
  }

  .carrito:hover, .lupa:hover {
    -webkit-transform: scale(1.3);
    color: green;
  }

  .burger-menu {
    text-align: center;
    margin-left: 20px;
    color: white;
  }

  .burger {
    background-color: var(--gris);
    border-radius: 10%;
    padding: 10px; 
  }
 
  .menu_visible{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* DIV BANNER */

  .banner {
    display: none;
  }

  .img-ban {
    width: 100%;
    height: auto;
 
  }

  /* MAIN */

  /* FOTO ARTICULO A DETALLAR */

  .imagen-articulo {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  /* DETALLES ARTICULO */
  
  .caja-detalles {
    border-bottom: 1px solid #000;
    max-width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .titulo-articulo {
    
    margin: 7px;
  }

  .precio-articulo {
    margin: 7px;
    font-size: 14px;
  }

  /* TALLE */

  .talle {
    margin: 15px;
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
  }

  /* DESCRIPCION ARTICULO */

  .descripcion-articulo {
    display: flex;
    flex-direction: column;
    margin: 18px;
  }

  .descripcion-articulo p {
    margin-top: 10px;
    font-size: 12px;
  }

  .descripcion-articulo ul li {
    font-size: 12px;
    list-style-type: square;
    margin-left: 16px;
    margin-top: 9px;
  }

  .descripcion-articulo ul {
    margin-top: 10px;
  }

  .boton-comprar {
    display: flex;
    margin: auto;
    color: white;
    background-color: #000;
    border-radius: 6%;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 35px;
  }


  /* PRODUCTOS RELACIONADOS */

  .productos-relacionados {
    display: flex;
    flex-wrap: wrap;
  }

  .productos-relacionados article {
    width: 45%;
  }

  /* FOOTER */

  footer{
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .pie-pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  .sector-footer{
    text-align: center;
    width:100%;
    padding: 10px;
  }
  .sector-footer img{
    width: 44px;
  }
  .icono-footer{
    color:var(--azul);
    font-size:x-large;
    margin: 10px;
  }
  .titulo-footer {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .texto-footer {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* para agrandar y achicar figura  20% */
  .icono-footer:hover {
  -webkit-transform: scale(1.2);
  color: var(--celeste);
  }
  
  .container1:hover{
    border: solid 1px var(--independence); 
    }