*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
  --gris: #686963;
  --morning-blue: #8aa29e;
  --black-coral: #3d5467;
  --silver-chalice: #a9aca9; 
  --granite-gray:#6c6061;
  --independence: #525b76;  
}

body {
    font-family: "Roboto", sans-serif;
  }
  

/* HEADER */
.img-ban {
  display: none;
}
  /* MAIN */

  /* FOTO ARTICULO A DETALLAR */

  .imagen-articulo {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  /* DETALLES ARTICULO */
  
  .caja-detalles {
    border-bottom: 1px solid #000;
    max-width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  
  .titulo-articulo {
    
    margin: 7px;
  }

  .precio-articulo {
    margin: 7px;
    font-size: 14px;
  }

  /* TALLE */

  .talle {
    margin: 15px;
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* DESCRIPCION ARTICULO */

  .descripcion-articulo {
    display: flex;
    flex-direction: column;
    margin: 18px;
  }

  .descripcion-articulo p {
    margin-top: 10px;
    font-size: 12px;
  }

  .descripcion-articulo ul li {
    font-size: 12px;
    list-style-type: square;
    margin-left: 16px;
    margin-top: 9px;
  }

  .descripcion-articulo ul {
    margin-top: 10px;
  }

  .boton-comprar {
    display: flex;
    margin: auto;
    color: white;
    background-color: #000;
    border-radius: 6%;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 35px;
  }


  /* PRODUCTOS RELACIONADOS */

  .productos-relacionados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
  }

  .productos-relacionados article {
    width: 45%;
  }

  .productos-relacionados img {
    width: 100%;
    margin: 18px;
    height: 80%;
   }

   .titulo-productosRelacionados {
    margin: 18px;
    text-align: center;
    font-size: 16px;
   }

  /* FOOTER */
/*
  footer{
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .pie-pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  .sector-footer{
    text-align: center;
    width:100%;
    padding: 10px;
  }
  .sector-footer img{
    width: 44px;
  }
  .icono-footer{
    color:var(--azul);
    font-size:x-large;
    margin: 10px;
  }
  .titulo-footer {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .texto-footer {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  */
  /* para agrandar y achicar figura  20% */
  .icono-footer:hover {
  -webkit-transform: scale(1.2);
  color: var(--celeste);
  }
  
  .container1:hover{
    border: solid 1px var(--independence); 
    }


    @media (min-width: 767px) {

      /* SE AGREGA MENU A LA DERECHA DE LA FOTO ARTICULO */
      .menu-derecha {
        display: flex;
        flex-direction: column;
      }

      .menu-derecha h4 {
        margin-bottom: 15px;
        padding: 2px;
      }

      .menu-derecha li {
        padding: 2px;
        margin-top: 15px;
        list-style-type: none;
        color: black;
      }

      .menu-derecha li a {
        color: black;
      }
/*
      .barra-menu {
        display: flex;
        font-size: 13px;
        margin-left: 34%;
      }
      */

      .imagen-articulo {
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
     }

     .imagen-articulo img {
      border-style: none;
      max-width: 60%;
      align-items: flex-end;
      display: flex;
     }

    }