
<link rel="stylesheet" href="/css/header.css" />


<header>
<!--------------------------codigo de ventana emergente buscar ------------------------>
<section id="buscar" class="modalDialog">
    <div class="modal">
        <form action="/buscarProd" method="GET">
         <div class=" control-login">
             <input type="text" name="buscar" class="control boton3" placeholder="Ingrese descripción" required>
        </div>     
            <div class="control-login">
             <button class="envio" type="reset" ><a href="/" title="Close" id="close">Volver</a></button>
             <button type="submit" class="envio" title="buscar" id="buscar">Buscar</button>
            </div>
        </form>
    </div>
</section>

<!----------------------------------------------------------------------------------------------->

<!--------------------------codigo de ventana emergente de inicio de sesion ------------------------>
<section id="inicio-sesion" class="modalDialog">
    <div class="modal">
        <form action="/login" method="POST">
         <div class=" control-login">
             <input type="email" name="email" class="control boton3" placeholder="e-mail" required>
        </div>
          <div class="control-login">
                <input type="password" name="clave" class="control boton3" placeholder="Contraseña" required>
            </div>
            <div class="control-login">
             <button class="envio" type="reset" ><a href="/" title="Close" id="close">Volver</a></button>
             <input type="submit" class="envio"></input> 
            </div>
        </form>
        <div class="contraseña">
            <p href="" class="olvido">Has olvidado tu contraseña?</p> <a href=""></a>
        </div>
    </div>
</section>
<!---------------------------------------------------------------------------------------------------->

<!--------------------------codigo de ventana emergente de  registro------------------------>

<section id="registro" class="modalDialog">

    <div class="modal">
    <form action="/crearUsuario" method="POST" class="formulario">
        <div class="nombre">      
            <input type="text" name="nombreYapellido" class="boton3" id="nombre" placeholder="nombre y apellido" required minlength="4">
        </div>
        <div class="nombre-usuario">
            <input outline="none"  type="text" name="nombreUsuario" class="boton3" id="nombreUsuario" placeholder="Nombre de Usuario" required minlength="4">
        </div>

        
         <div class="foto">
            <label class="fechaNacimiento">Fecha de nacimiento</label>
            <input  type="date" name="fechaNacimiento" class="boton3" id="fechaNacimiento" >
        </div>
        
    
       <!--
        <div class="foto">
            <label for="foto"><h4>Foto de perfil</h4></label>
            <input type="file" name="foto" class="boton3" id="foto" required>
        </div>
        -->
        <div class="nombre">
            <input type="emil" name="email" class="boton3" id="email" placeholder="e-mail" required>
        </div>
        <div class="nombre">
            <input type="password" name="clave" class="boton3" id="password" placeholder="Contraseña" required minlength="4">
        </div>
        <div class="nombre">
            <input type="password" name="confirmarClave" class="boton3" id="confirmarpassword" placeholder="Confirmar" required minlength="4">
        </div>
        
        <div class="reg-reset">
            <button class="reset" type="reset" ><a href="/" title="Close" id="close">Volver</a></button>
            <button class="register" type="submit">Enviar</button>
        </div>

    </form>
</div>
</section>
<!-------------------------------------------------------------------------------------->


<!----------------- aca esta el codigo de ventana emergente devolucion ------------------------------>
<section id="devolver" class="modalDialog" >
    <div class="modal">


        <h4 class="tiulo-modal">Solicitud de cancelación de compra</h4>
        <p class="subtitulo-modal">La solicitud tendrá validez si es realizada dentro de
            los plazos determinados en la <a
                href="https://www.boletinoficial.gob.ar/detalleAviso/primera/235729/20201005"
                style="text-decoration: underline;color: blue;">Resolución 424/2020</a> de la Secretaría
            de Comercio Interior y no se traten de productos exceptuados como productos personalizados y
            todos los comprendidos en el art. 1116 del Código Civil y Comercial.</p>

        <form action="/devolucion" method="POST" class="formulario">
            <div class="nombre">

                <input type="text"  name="nombre" class="boton3" id="nombre" placeholder="nombre y apellido" required
                    minlength="12">
            </div>
            <div class="nombre-usuario">
                <input outline="none" type="text" class="boton3" name="nombreUsuario" id="nombreUsuario"
                    placeholder="Nombre de Usuario" required minlength="12">
            </div>
            <div class="nombre-usuario">
                <input outline="none" type="text" class="boton3" name="nombreUsuario" id="nombreUsuario"
                    placeholder="Numero de factura" required>
            </div>


            <div class="nombre">
                <input type="password" name="password" class="boton3" id="password" placeholder="Contraseña" required>
            </div>
            <div class="nombre">
                <input type="password" name="confirmarpassword" class="boton3" id="confirmarpassword"
                    placeholder="Confirmar contraseña" required>
            </div>

            <div class="reg-reset">
                <button class="reset" type="reset"><a href="/" title="Close" id="close">Volver</a></button>
                <button class="register" type="submit">Enviar</button>
            </div>

        </form>
    </div>
</section>

<!----------------------------------------------------------------------------------------->
<!---------------sigue el header-------------------------------------------------->


<marquee scrollamount="10" class="marquesina">
    <div>
        <p class="texto-marquesina">Semana de ofertas increibles en StoneBlack!!!</p>
    </div>
</marquee>

<section class="cabecera">
    <a href="/">
    <img class="logo" src="/images/StoneBlack.png" alt="logo"/></a>
        
    <div class="lupa">
        <a href="#buscar"><i class="fas fa-search"></i></a></div>
    
    <div class="carrito-compras">
        <a href="/product-cart">
        <i class="fa-solid fa-cart-shopping carrito"></i></a>
    </div>

    <div class="burger-menu">
        <button class="abrir-menu" aria-label="Abrir menú">
        <i class="fa fa-bars burger"></i></button>
    </div>
</section>
<section class="barra-menu">
    <ul class="menu">
        <li class="menu-item"><a href="#inicio-sesion" class="boton-inicio">Inicio de sesion</a></li>
        <li class="menu-item"><a href="#registro" class="registrarse">Registrarse</a></li>
        <li class="menu-item"><a href="#devolver" class="devolver">Devolver</a></li>
    </ul>
</section>

<div class="banner">
    <img src="/images/banner.jpg"  class="img-ban" alt="banner" />
</div>


<!----------------------------- fin del header ----------------------------------------------------------------->
</header>
    